.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#clock {
  stroke: #000;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}
#clock #rim {
  fill: none;
  stroke: #999;
  stroke-width: 3px;
}
#clock .second-hand {
  stroke-width: 3;
}
#clock .minute-hand {
  stroke-width: 8;
  stroke-linecap: round;
}
#clock .hour-hand {
  stroke-width: 12;
  stroke-linecap: round;
}
#clock .hands-cover {
  stroke-width: 3;
  fill: #fff;
}
#clock .second-tick {
  stroke-width: 3;
  fill: #000;
}
#clock .hour-tick {
  stroke-width: 8;
}
#clock .second-label {
  font-size: 12px;
}
#clock .hour-label {
  font-size: 24px;
}
